@model AgileEngineBEServices.DTOs.PictureDetailsDto

<h4>Details</h4>

<div class="container">
    <div class="row">
        <div class="col-4">
            @Model.id
        </div>
        <div class="col-4">
            @Model.tags
        </div>
        <div class="col-4">
            @Model.author
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            @Model.camera
        </div>
        <div class="col-4">
            @Model.cropped_picture
        </div>
        <div class="col-4">
            @Model.full_picture
        </div>
    </div>
</div>



